a:visited, a:focus, a:active {
    color: #bd1b1d;
    text-decoration: none;
}

.cap-color {
    color: #bd1b1d;
}

.menu-right {
    display: none;
}

.admin-bar header#masthead.site-header.affix.custom-sticky {
    top: 32px !important;
}

body.home .page-title {
    display: none;
}

body.home .site-content {
    padding-top: 0;
}

.bp-element-brands.layout-grid.sized-logo-companies .wrap-content .item {
    width: calc(100% / 4);
}

@media (max-width: 1000px) {
    .bp-element-brands.layout-grid.sized-logo-companies .wrap-content .item {
        width: calc(100% / 3);
    }
}

@media (max-width: 768px) {
    .bp-element-brands.layout-grid.sized-logo-companies .wrap-content .item {
        width: calc(100% / 2);
    }
}

@media (max-width: 480px) {
    .bp-element-brands.layout-grid.sized-logo-companies .wrap-content .item {
        width: 100%;
    }
}

.bp-element-brands.layout-grid.sized-logo-companies .wrap-content .item img {
    max-height: 100%;
    max-width: 200px;
    width: auto;
}

.site-footer.footer_home_3 .footer, .site-footer.footer_home_4 .footer {
    background-image: url(assets/images/bg-footer-01.png);
}

.main-top {
    height: 450px;
    background-size: 100%;
    background-repeat: no-repeat
}

#primaryMenu > .menu-item:last-child a {
    border: 1px solid #FFF;
    border-radius: 30px;
    padding: 10px 30px;
}

body.left_courses .wrapper-item-course .item-course .text {
    padding: 20px 30px;
}

body.left_courses .wrapper-item-course .item-course .text .teacher .ava {
    width: 40px;
    height: 40px;
    margin-top: -42px;
}

.bp-element-testimonials.layout-slider-4 .slide-testimonial .testimonial-item .author .ava {
    width: 80px;
    height: 80px;
}

.bp-element-testimonials.layout-slider-4 .slide-testimonial .testimonial-item .author .info {
    width: calc(100% - 80px - 18px);
    justify-content: center;
}

.related-archive .course-item .content {
    padding: 15px 23px;
}

.learn-press-message {
    margin: 20px 25px;
}

.single-lp_course .info-bar .price-box .course-price {
    font-size: 26px;
}

.item-course .pic img {
    width: 100%;
}

.request-course-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    background-color: #e12a2d;
    transition: all .2s;
    margin-bottom: 12px;
    border-radius: 25px;
    text-decoration: none;
}

.request-course-info:hover {
    color: #fff;
    background-color: #bd1b1d;
    transition: all .2s;
}

.breadcrumbs-wrapper .container { 
    min-width: 100%;
}

.elementor-tab-title.elementor-tab-desktop-title,
.elementor-tab-title.elementor-tab-desktop-title a {
    color: #000;
}
.elementor-tab-title.elementor-tab-desktop-title:before {
    content: "· " !important;
    position: relative !important;
    display: inline !important;
    font-size: 32px;
    line-height: 24px;
    top: 5px !important;
}
.elementor-tab-title.elementor-tab-desktop-title.elementor-active {
    color: #bd1b1d;
    text-decoration: none;
}

.elementor-tab-title.elementor-tab-desktop-title.elementor-active a:visited,
.elementor-tab-title.elementor-tab-desktop-title.elementor-active a:active,
.elementor-tab-title.elementor-tab-desktop-title.elementor-active a:focus {
    color: #bd1b1d;
}

.elementor-tab-title.elementor-tab-desktop-title.elementor-active:before {
    content: "· "
}

.bp-element-testimonials .img-testimonial {
    text-align: right;
}

@media (max-width: 768px) {
    .bp-element-testimonials .img-testimonial {
        text-align: center;
    }
    .bp-element-testimonials .slide-testimonial {
        margin: auto;
    }
}

.about-us-custom-list li {
    list-style: initial;
}

footer.site-footer .footer .container .footer-sidebars.row > div {
    text-align: center;
}
footer.site-footer .footer .container .footer-sidebars.row .col-md-6 {
    flex: inherit;
}
footer.site-footer .footer .container .footer-sidebars.row .col-md-6:first-child {
    width: 30%;
    max-width: 30%;
}
footer.site-footer .footer .container .footer-sidebars.row .col-md-6:last-child {
    width: 70%;
    max-width: 70%;
}
footer.site-footer .footer .container .footer-sidebars.row .widget_nav_menu .menu-main-menu-container ul {
    text-align: right;
}
@media (max-width: 1000px) {
    footer.site-footer .footer .container .footer-sidebars.row .col-md-6 {
        flex: inherit;
    }
    footer.site-footer .footer .container .footer-sidebars.row .col-md-6:first-child {
        width: 100%;
        max-width: 100%;
    }
    footer.site-footer .footer .container .footer-sidebars.row .col-md-6:last-child {
        width: 100%;
        max-width: 100%;
    }
    footer.site-footer .footer .container .footer-sidebars.row .widget_nav_menu .menu-main-menu-container ul {
        text-align: center;
    }
}

@media (max-width: 480px) {
    footer.site-footer .footer .container .footer-sidebars.row .widget_nav_menu .menu-main-menu-container ul li {
        width: 70%;
    }
}

footer.site-footer .footer .container .footer-sidebars.row .widget_nav_menu .menu-main-menu-container ul li {
    display: inline-block;
    padding: 20px 10px
}
footer.site-footer .footer .container .footer-sidebars.row .widget_nav_menu .menu-main-menu-container ul li:last-child {
    border: 1px solid #333;
    border-radius: 30px;
    padding: 10px 30px;
}

footer.site-footer .footer .container .footer-sidebars.row .widget {
    width: 100%;
}
footer.site-footer .footer .container .footer-sidebars.row .widget .company-info {
    text-align: center;
}
footer.site-footer .footer .container .footer-sidebars.row .widget .company-info p {}
footer.site-footer .footer .container .footer-sidebars.row .widget .company-info p strong {}
footer.site-footer .footer .container .footer-sidebars.row .widget .company-info p a {}
