.menu-right {
    display: none;
}

.admin-bar header#masthead.site-header.affix.custom-sticky {
    top: 32px !important;
}

body.home .page-title {
    display: none;
}

body.home .site-content {
    padding-top: 0;
}

.bp-element-brands.layout-grid.sized-logo-companies .wrap-content .item {
    width: calc(100% / 4);
}

.bp-element-brands.layout-grid.sized-logo-companies .wrap-content .item img {
    max-height: 100%;
    max-width: 200px;
    width: auto;
}

.site-footer.footer_home_3 .footer, .site-footer.footer_home_4 .footer {
    background-image: url(assets/images/bg-footer-01.png);
}

footer.site-footer .footer .container .footer-sidebars.row > div {
    text-align: center;
}

.main-top {
    height: 450px;
    background-size: 100%;
    background-repeat: no-repeat
}

body.left_courses .wrapper-item-course .item-course .text {
    padding: 20px 30px;
}

body.left_courses .wrapper-item-course .item-course .text .teacher .ava {
    width: 40px;
    height: 40px;
    margin-top: -42px;
}

.related-archive .course-item .content {
    padding: 15px 23px;
}

.learn-press-message {
    margin: 20px 25px;
}
